extends ../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code CSS for beginners';
    var myDescription = 'CSS is awesome,  easy and fun to learn';
    var landingPage = 'CSS';
    var activeLink = '';

block awesome-content
  h1=myTitle
  p=myDescription
  h2 CSS Color
  p Colors are specified using predefined color names, or RGB, HEX, HSL, RGBA, HSLA values.
  h2 CSS Background
  p The CSS background properties are used to define the background effects for elements.
  h2 CSS Border
  p The CSS border properties allow you to specify the style, width, and color of an element's border.
  